body {
    text-align: center;
    font-family: Arial;
    background: #111;
    color: white;
}

.junction {
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto;
    background: #333;
    border-radius: 10px;
}

.lane {
    position: absolute;
    width: 100px;
    height: 120px;
    background: #222;
    border-radius: 10px;
    padding: 5px;
}

/* Position lanes */
#A { top: 0; left: 125px; }
#B { right: 0; top: 125px; }
#C { bottom: 0; left: 125px; }
#D { left: 0; top: 125px; }

.light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #444;
    margin: 5px auto;
}

.red.active { background: red; }
.yellow.active { background: yellow; }
.green.active { background: green; }

.count {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}